/JavaApplication30/nbproject/private/
/JavaApplication31/nbproject/private/
/JavaApplication32/nbproject/private/
/javaNetBeans/Calculadora/nbproject/private/
/javaNetBeans/Calcuradora/nbproject/private/
/javaNetBeans/Calcuradora/build/
/javaNetBeans/Calcuradora/dist/
/javaNetBeans/Calculadora2/nbproject/private/
/javaNetBeans/Calcuradora_1/nbproject/private/
/javaNetBeans/Calcuradora_1/build/
/javaNetBeans/EstruturaFor/nbproject/private/
/javaNetBeans/EstruturaFor/build/
/javaNetBeans/EstruturaFor_1/nbproject/private/
/javaNetBeans/EstruturaWhile/nbproject/private/
/javaNetBeans/EstruturaWhile/build/
